<!DOCTYPE html>
<html>

<body>
    @model IEnumerable<OnlineApp.Models.Course>
    @{
        ViewBag.Title = "ViewCourse";
    }

    <h2>Course List</h2>


    <table class="table">
        <tr>
            <th>

                @Html.DisplayNameFor(Course => Course.CourseId)
            </th>
            <th>

                @Html.DisplayNameFor(Course => Course.CourseName)
            </th>

            <th>

                @Html.DisplayNameFor(Course => Course.CourseDept)
            </th>
            <th>

                @Html.DisplayNameFor(Course => Course.ProfName)
            </th>
            <th>


            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(m => item.CourseId)
                </td>

                <td>
                    @Html.DisplayFor(m => item.CourseName)
                </td>
                <td>
                    @Html.DisplayFor(m => item.CourseDept)
                </td>
                <td>
                    @Html.DisplayFor(m => item.ProfName)
                </td>
                <td>

                    @Html.ActionLink("Register", "SelectCourse", new { id = item.CourseId })

                </td>
            </tr>

        }
    </table>
    <div>
        @Html.ActionLink("Logoff", "Login", "User")
    </div>
    <style>
        body {
            background-image: url('https://learningforward.org/wp-content/uploads/2020/04/05-07-webinar-thumbnail-II-350x292-1-300x250.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%;
            opacity: 1.5;
            text-align: center;
            color: white;
            font-weight: bolder;
            font-family: cursive;
        }
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th {
            text-align: left;
            padding: 8px;
            background-color: dodgerblue;
            color: white;
        }

        tr:nth-child(even) {
            background-color: lightskyblue;
            color: black;
        }

        tr:nth-child(odd) {
            background-color: white;
            color: black;
        }
    </style>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</body>
</html>
